.header_main {
  display: flex;
  height: 10vh;
justify-content: space-between;
  width: 100%;
}
.header_main_right{
  display: flex;
justify-content: space-around;
width: 30%;
}
.header_links {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  border: 5px solid black;

}

.nav_link{
  text-decoration: none;
  cursor: pointer;
}
.nav_link.active p{
background-color: white;
color: black;
border: 3px solid black;
width: 95%;
padding: 5%;
}

.nav_link p{
  border: 3px solid rgba(0, 0, 0, 0.549);
width: 95%;
padding: 5%;
  padding: 5%;
  color: white;
  font-size:medium;
  font-weight: bolder;
}

.user_name{
 margin-top: -14px;
  color: white;
  font-size:60px;
  font-weight: bolder;
  font-style: italic;
  width: 20%;
}

.display_user{
  position: absolute;
  top: 35px;
  right: 400px;
  color: white;
  font-size:medium;
  font-weight: bolder;
}